.curtidas {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

.curtidas i {
    color: inherit;
    transition: color 0.2s ease;
}

.curtido {
    color: red;
}

.fas.curtido {
    color: red;
}