.curtidas {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

.curtidas i {
    color: inherit;
    transition: color 0.2s ease;
}

/* .btn-curtir {
    background: none;
    border: none;
    color: #ff4d6d;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.btn-curtir:hover {
    transform: scale(1.1);
} */


.curtido {
    color: red;
}

.fas.curtido {
    color: red;
}