.resetar-senha {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;

    .container-senha {
        display: flex;
        flex-direction: row;
        height: 70%;
        width: 70%;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .form-resetar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        padding: 40px;

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 15px;
        }

        label {
            font-size: 14px;
            font-weight: 600;
            color: #343a40;
            margin-top: 5px;
            margin-bottom: -5px;
        }

        .container-senha {
            position: relative;
            display: flex;
            width: 100%;

            input {
                padding-right: 40px;
            }

            #togglePassword {
                position: absolute;
                right: 5px;
                top: 20%;
                transform: translateY(-50%);
                background: none;
                border: none;
                cursor: pointer;
                color: #868e96;
                padding: 6px;
                font-size: 16px;
                transition: color 0.2s;
                line-height: 1;
                outline: none;

                &:hover {
                    color: var(--azul-purpura);
                }
            }
        }

        input {
            width: 100%;
            padding: 12px 15px;
            border: 1px solid #ced4da;
            border-radius: 6px;
            font-size: 16px;
            transition: border-color 0.3s;

            &:focus {
                border-color: var(--azul-purpura);
                outline: none;
            }
        }

        button {
            margin-top: 15px;
            padding: 12px;
            background-color: var(--azul-purpura);
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            transition: background-color 0.3s, transform 0.1s;
            user-select: none;

            &:hover {
                background-color: var(--azul-lavanda);
            }
        }

        p {
            font-size: 14px;
            text-align: center;
        }

        a {
            color: var(--azul-purpura);
            text-decoration: none;
            font-weight: 600;
            transition: color 0.3s;

            &:hover {
                color: var(--azul-lavanda);
            }
        }
    }
}