{% extends 'base.html' %}
{% block conteudo %}

{% with msg = get_flashed_messages()|first %}
{% if msg %}
<div id="flashPopup" class="flash-message">
    {{ msg }}
</div>
{% endif %}
{% endwith %}

<div class="cadastro">
    <div class="container-cadastro">
        <div class="tagline-cadastro">
            <div class="logo">
                <a href="/">
                    <img src="../static/img/logo.png" alt="Logo do Blog">
                    <h1>Foxmood</h1>
                </a>
            </div>
            <div class="tagline">
                <h3>SUA PRÓXIMA GRANDE IDEIA ESPERA POR VOCÊ. FAÇA LOGIN E INSPIRE-SE.</h3>
            </div>
            <div class="tagline-linha">
                <hr>
            </div>
        </div>
        <div class="form-cadastro">
            <form action="/cadastro" method="POST">
                <label for="email">Nome:</label>
                <input type="text" name="nome" id="nome" placeholder="Nome" value="" autocomplete="off" required>

                <label for="email">User:</label>
                <input type="text" name="user" id="user" placeholder="Usuário" value="" autocomplete="off" required>

                <label for="senha">Senha:</label>
                <div class="container-senha">
                    <input type="password" id="senha" name="senha" placeholder="Senha" value="" autocomplete="off"
                        required>
                    <button type="button" id="togglePassword" aria-label="Mostrar/Esconder Senha">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>

                <p>Já tem login? <a href="/login">Acesse agora</a></p>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}