{% extends 'base.html' %}
{% block conteudo %}

{% with msg = get_flashed_messages()|first %}
{% if msg %}
<div id="flashPopup" class="flash-message">
    {{ msg }}
</div>
{% endif %}
{% endwith %}

<div id="dashboard">
    <div id="dados">
        <h2>
            Área do ADM
        </h2>
    </div>
    <div id="info">
        <div class="col-info">
            <div>
                <h3>Usuários({{total_usuarios[0] if total_usuarios else 0}})</h3>
            </div>
            <hr>
            <table>
                <tr>
                    <th>Ações</th>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>User</th>
                    <th>Senha</th>
                    <th>Data de Cadastro</th>
                    <th>Posts</th>
                    <th>Status</th>
                </tr>
                {% for u in usuarios %}
                <tr {% if u.ativo==0 %} style="background-color: lightgray; text-decoration: line-through;" {% endif %}>
                    <td><a href="/usuario/excluir/{{u.idUsuario}}"
                            onclick="return confirm('Deseja realmente excluir?')"><i class="fa-solid fa-trash"></i></a>
                    </td>
                    <td>{{u.idUsuario}}</td>
                    <td>{{u.nomeUsuario}}</td>
                    <td>{{u.user}}</td>
                    <td>
                        <a href="/usuario/reset/{{u.idUsuario}}">
                            <button class="btn-reset-senha">Resetar Senha</button>
                        </a>
                    </td>
                    <td>{{ u.dataCadastro.strftime('%d/%m/%Y') }}</td>
                    <td>
                        <button class="btn-ver-posts" data-id-usuario="{{ u.idUsuario }}">Ver Posts</button>
                    </td>
                    <td>
                        <a href="/usuario/status/{{ u.idUsuario }}">
                            <button class="{% if u.ativo %}btn-banir{% else %}btn-reativar{% endif %}">
                                {{ "Banir" if u.ativo else "Reativar" }}
                            </button>
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">Nenhum usuário cadastrado!</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-info">
            <div>
                <h3>Posts ({{total_posts[0] if total_posts else 0}}) <span id="posts-filtrados-titulo"></span></h3>
            </div>
            <hr>
            <div id="posts-container">
                {% for p in posts %}
                <p>
                    <a href="/excluirpost/{{p.idPost}}" onclick="return confirm('Deseja realmente excluir?')">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    {{ p.idPost }} - {{ p.titulo}} - {{ p.conteudo | truncate(30) }}
                </p>
                {% else %}
                <p>Nenhum post disponível!</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}