{% extends 'base.html' %}
{% block conteudo %}

{% with msg = get_flashed_messages()|first %}
{% if msg %}
<div id="flashPopup" class="flash-message">
    {{ msg }}
</div>
{% endif %}
{% endwith %}

<div class="login">
    <div class="container-login">
        <div class="tagline-login">
            <div class="logo">
                <a href="/">
                    <img src="../static/img/logo.png" alt="Logo do Blog">
                    <h1>Foxmood</h1>
                </a>
            </div>
            <div class="tagline">
                <h3>SUA PRÓXIMA GRANDE IDEIA ESPERA POR VOCÊ. FAÇA LOGIN E INSPIRE-SE.</h3>
            </div>
            <div class="tagline-linha">
                <hr>
            </div>
        </div>
        <div class="form-login">
            <form action="/login" method="POST">
                <label for="email">Login:</label>
                <input type="text" name="user" id="user" placeholder="Nome de Usuário" value="" autocomplete="off"
                    required>

                <label for="senha">Senha:</label>
                <div class="container-senha">
                    <input type="password" id="senha" name="senha" placeholder="Senha" value="" autocomplete="off"
                        required>
                    <button type="button" id="togglePassword" aria-label="Mostrar/Esconder Senha">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>

                <p>Não tem cadastro? <a href="/cadastro">Faça agora</a></p>

                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}