{% extends 'base.html' %}
{% block conteudo %}

{% with msg = get_flashed_messages()|first %}
{% if msg %}
<div id="flashPopup" class="flash-message">
    {{ msg }}
</div>
{% endif %}
{% endwith %}

<div class="resetar-senha">
    <div class="container-senha">
        <div class="form-resetar">
            <div>
                <h3>Atualizar Senha</h3>
            </div>
            <form action="/usuario/novasenha" method="POST">
                <label for="senha">Nova Senha:</label>
                <div class="input-wrapper">
                    <input type="password" id="senha" name="senha" placeholder="Senha" required>
                    <button type="button" onclick="togglePass(this)"><i class="fas fa-eye"></i></button>
                </div>

                <label for="senha">Confirmar Senha:</label>
                <div class="input-wrapper">
                    <input type="password" id="senha" name="senha" placeholder="Senha" required>
                    <button type="button" onclick="togglePass(this)"><i class="fas fa-eye"></i></button>
                </div>

                <div class="botoes-acao">
                    <a href="/" class="link-cancelar">
                        <button type="button" class="btn-cancelar">Cancelar</button>
                    </a>

                    <button type="submit" class="btn-salvar">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}